## シンタックスハイライトの設定
include "~/.nano/syntax-nanorc/bash.nanorc"
include "~/.nano/syntax-nanorc/c.nanorc"
include "~/.nano/syntax-nanorc/c-file.nanorc"
include "~/.nano/syntax-nanorc/css.nanorc"
include "~/.nano/syntax-nanorc/html.nanorc"
include "~/.nano/syntax-nanorc/java.nanorc"
include "~/.nano/syntax-nanorc/js.nanorc"
include "~/.nano/syntax-nanorc/markdown.nanorc"
include "~/.nano/syntax-nanorc/nanorc.nanorc"
include "~/.nano/syntax-nanorc/php.nanorc"
include "~/.nano/syntax-nanorc/php2.nanorc"
include "~/.nano/syntax-nanorc/python.nanorc"
include "~/.nano/syntax-nanorc/ruby.nanorc"
include "~/.nano/syntax-nanorc/sh.nanorc"
include "~/.nano/syntax-nanorc/tex.nanorc"
include "~/.nano/syntax-nanorc/xml.nanorc"

## 長い行の編集時に勝手に改行を入れてしまうのを防ぐ(重要!!必ず設定すること)
set nowrap

## Tabの長さ(値は好みで)
set tabsize 2
## Tabをスペースにする
set tabstospaces

## 自動インデント
# set autoindent
## スムーズスクロール
# set smooth

## 有効にすると、後ろ向き(上方向)検索をデフォルトにする
# set backwards
## 有効にすると、反転表示されている部分を太字表示にする
# set boldtext
## 有効にすると、大文字と小文字を区別した検索をデフォルトにする
# set casesensitive
## 有効にすると、カーソル位置を常に表示(注意: 「set quickblank」を無効にする)
## set const
## 有効にすると、一番上の「GNU nano」と表示されている次の行を使えて、少し広くなる
# set morespace
## 有効にすると、マウスを使って
## カーソルの移動と下部のショートカットのクリック実行ができる
set mouse
## 有効にすると、下部のヘルプを消す
# set nohelp
## ステータスバーの表示をすぐに消えるようにする
# set quickblank
## 有効にすると、^Xを押したとき、保存の確認をせずに自動的に保存して終了する
# set tempfile
include "~/.nano/apacheconf.nanorc"
include "~/.nano/arduino.nanorc"
include "~/.nano/asciidoc.nanorc"
include "~/.nano/asm.nanorc"
include "~/.nano/awk.nanorc"
include "~/.nano/c.nanorc"
include "~/.nano/clojure.nanorc"
include "~/.nano/cmake.nanorc"
include "~/.nano/coffeescript.nanorc"
include "~/.nano/colortest.nanorc"
include "~/.nano/conf.nanorc"
include "~/.nano/csharp.nanorc"
include "~/.nano/css.nanorc"
include "~/.nano/cython.nanorc"
include "~/.nano/dot.nanorc"
include "~/.nano/dotenv.nanorc"
include "~/.nano/email.nanorc"
include "~/.nano/Dockerfile.nanorc"
include "~/.nano/etc-hosts.nanorc"
include "~/.nano/fish.nanorc"
include "~/.nano/fortran.nanorc"
include "~/.nano/gentoo.nanorc"
include "~/.nano/git.nanorc"
include "~/.nano/gitcommit.nanorc"
include "~/.nano/glsl.nanorc"
include "~/.nano/go.nanorc"
include "~/.nano/gradle.nanorc"
include "~/.nano/groff.nanorc"
include "~/.nano/haml.nanorc"
include "~/.nano/haskell.nanorc"
include "~/.nano/html.nanorc"
include "~/.nano/html.j2.nanorc"
include "~/.nano/ical.nanorc"
include "~/.nano/ini.nanorc"
include "~/.nano/inputrc.nanorc"
include "~/.nano/jade.nanorc"
include "~/.nano/java.nanorc"
include "~/.nano/javascript.nanorc"
include "~/.nano/js.nanorc"
include "~/.nano/json.nanorc"
include "~/.nano/keymap.nanorc"
include "~/.nano/kickstart.nanorc"
include "~/.nano/kotlin.nanorc"
include "~/.nano/ledger.nanorc"
include "~/.nano/lisp.nanorc"
include "~/.nano/lua.nanorc"
include "~/.nano/makefile.nanorc"
include "~/.nano/man.nanorc"
include "~/.nano/markdown.nanorc"
include "~/.nano/mpdconf.nanorc"
include "~/.nano/mutt.nanorc"
include "~/.nano/nanorc.nanorc"
include "~/.nano/nginx.nanorc"
include "~/.nano/nmap.nanorc"
include "~/.nano/ocaml.nanorc"
include "~/.nano/patch.nanorc"
include "~/.nano/peg.nanorc"
include "~/.nano/perl.nanorc"
include "~/.nano/perl6.nanorc"
include "~/.nano/php.nanorc"
include "~/.nano/pkg-config.nanorc"
include "~/.nano/pkgbuild.nanorc"
include "~/.nano/po.nanorc"
include "~/.nano/pov.nanorc"
include "~/.nano/privoxy.nanorc"
include "~/.nano/puppet.nanorc"
include "~/.nano/pug.nanorc"
include "~/.nano/python.nanorc"
include "~/.nano/reST.nanorc"
include "~/.nano/rpmspec.nanorc"
include "~/.nano/ruby.nanorc"
include "~/.nano/rust.nanorc"
include "~/.nano/scala.nanorc"
include "~/.nano/sed.nanorc"
include "~/.nano/sh.nanorc"
include "~/.nano/sls.nanorc"
include "~/.nano/sql.nanorc"
include "~/.nano/svn.nanorc"
include "~/.nano/swift.nanorc"
include "~/.nano/systemd.nanorc"
include "~/.nano/tcl.nanorc"
include "~/.nano/tex.nanorc"
include "~/.nano/vala.nanorc"
include "~/.nano/verilog.nanorc"
include "~/.nano/vi.nanorc"
include "~/.nano/xml.nanorc"
include "~/.nano/xresources.nanorc"
include "~/.nano/yaml.nanorc"
include "~/.nano/yum.nanorc"
include "~/.nano/zsh.nanorc"
